body {
    /* Тепер (майже) всі елементи відображаються шрифтом без засічок */
    color: #434455;
    background-color: #FFFFFF;
    font-family: "Raleway", sans-serif;
    font-family: "Roboto", sans-serif;
}

header .nav-logo a {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color:#4d5ae5;
}



header .nav-logo a:hover a:active {
    color:#404bbf;
}

.nav-span {
    color: #2e2f42;
}

.nav-ul {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-li-a a {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color:#434455;
}

.nav-address {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    }

    .nav-address a:hover {
        color:#404bbf;
    }
