body {
    /* Тепер (майже) всі елементи відображаються шрифтом без засічок */
    color: #434455;
    background-color: #FFFFFF;
    font-family: "Raleway", sans-serif;
    font-family: "Roboto", sans-serif;
}